<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
</head>
<body>
<header id="header">
    <h1>Student Manager System</h1>
</header>
<main id="main">
    <h2><a href="/students/new">新建学生信息</a></h2>
    {% for item in items %}
    <div class="student">
        {% for e in item %}
        <div>{{ e }}</div>
        {% endfor %}
        <a href="students/{{ item[0] }}/edit">修改</a>
        <a href="students/{{ item[0] }}/delete">删除</a>
        <a href="students/{{ item[0] }}/grades">成绩</a>
    </div>
    <br><br>
    {% endfor%}
</main>

</body>
</html>